*{
    margin: 0;
    padding: 0;
}

h1,p{
    font-size: "Roboto", serif;
    line-height: 40px;
}


h1{
    font-size: 36px;
}


p{
    font-size: 16px;
}


.container{
    padding: 16px;
}


.c02{
    background-color: #f44336;
}


.c03{
    background-color: #009688;
}


.c04{
    background-color: #ffeb3b;
}


.c05{
    background-color: #9e9e9e;
}


.c06{
    background-color: #9e9e9e;
}